{{- if .Values.gateway.enabled }}
{{- if .Values.gateway.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ng-gateway.serviceAccountName" . }}
  labels:
    {{- include "ng-gateway.gateway.labels" . | nindent 4 }}
  {{- with .Values.gateway.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}

