[package]
name = "xtask"
version = "0.1.0"
edition = "2021"
publish = false

# xtask is a helper binary, not a library
[[bin]]
name = "xtask"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
zip = { version = "6.0" }
